<% if @contacts.size > 0 %>
  <h1>Your contacts</h1>
  <% @contacts.each do |contact| %>
    <section class="single-contact">
      <h3><%= link_to contact.company_name.titleize, contact %></h3>
      <p><%= contact.company_background.capitalize %></p>
    </section>
  <% end %>
  <section class="new-btn">
    <%= link_to "Add new contact", new_contact_path, class: "btn btn-primary" %>
  </section>
  <% else %>
    <h3>No contacts at the moment</h3>
    <section class="new-btn">
      <%= link_to "Add new contact", new_contact_path, class: "btn btn-primary" %>
  </section>
<% end %>