<section class="user-dashboard">
  <section class="activity-summary">
    <h1>User summary</h1>
  </section>
  <section class="user-deals-tasks">
    <section class="user-deals">
      <h2>User deals</h2>
    </section>
    <section class="user-tasks">
      <h2>User tasks</h2>
    </section>
  </section>
</section>