<section class="all-contacts">
  <% if @contacts.size > 0 %>
    <% @contacts.each do |contact| %>
      <section class="single-contact">
        <h3><%= link_to contact.company_name.titleize, contact %></h3>
      </section>
    <% end %>
  <% else %>
    <h3>No contacts at the moment</h3>
    <%= link_to "Add new contact", new_contact_path, class: "btn btn-primary" %>
  <% end %>
</section>