<section class="user-dashboard">
  <section class="activity-summary">
    <h1>User summary</h1>
  </section>
  <section class="user-deals-tasks">
    <section class="user-deals">
      <section class="top-bar">
        <h4>Deals</h4>
        <span>Show: Monthly</span>
      </section>
      <hr>
    </section>
    <div class="vertical-divide"></div>
    <section class="user-tasks">
      <section class="top-bar">
        <h4>Tasks</h4>
        <span>Show: This Month</span>
      </section>
      <hr>
    </section>
  </section>
</section>