<section class="company-details">
  <h1>Company Details</h1>
  <section class="single-contact">
    <h4><%= @contact.company_name.titleize %></h4>
    <p><%= @contact.company_background.capitalize %></p>
    <b><%= @contact.phone %></b>
  </section>
</section>